body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userForm label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(129, 129, 129);
}

.userForm input {
  display: block;
  border: none;
  background-color: transparent;
  color: rgb(70, 70, 70);
  border-bottom: solid 1px black;
  margin-bottom: 2rem;
}

.userForm input:focus {
  border-bottom: solid 2px white;
  outline: none;
}

.errors {
  color: red;
  text-align: left;
}
